Package: rabbitmq-server
Version: 3.6.1-1
Architecture: all
Maintainer: RabbitMQ Team <info@rabbitmq.com>
Installed-Size: 5613
Depends: erlang-nox (>= 1:16.b.3) | esl-erlang, adduser, logrotate
Section: net
Priority: extra
Homepage: http://www.rabbitmq.com/
Description: Multi-protocol messaging broker
 RabbitMQ is an open source multi-protocol messaging broker.
