<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AMQP_RabbitMQ_proj003Publish_Subscribe/src/pt/americolib/producer/_1producer_NewTask.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pt.americolib.producer._1producer_NewTask"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AMQP_RabbitMQ_proj003Publish_Subscribe"/>
</launchConfiguration>
